---
layout: default
title: Fjord.style 404
published: true
permalink: /404.html
---
<p class="site-title">404</p>
<div class="comments">No page found at this url.</div>

<hr>
<div class="comments">My latest posts:</div>

  <ul class="post-cards">
    {% for post in site.posts limit:4 %}
      {% if post.hidden == null or post.hidden == false %}
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}" aria-label="{{ post.aria-label }}"><li class="post-card">
          <h2>
            {{ post.title }}
          </h2>
          <span class="post-meta">{{ post.date | date: "%-d %b %Y" }}</span>

          <span class="post-excerpt">{{ post.excerpt | remove: '<p>' | remove: '</p>' }}</span>
          {% if post.image %}<span class="post-img">
          <img class="headerimg" src="{{ site.url }}/assets{{ post.url }}/{{ post.image }}" alt="{{ post.imgalt }}"></span>
          {% endif %}

        </li></a>
      {% endif %}
    {% endfor %}
  </ul>

