---
layout: default
---

<div class="home">

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>

        <span class="post-excerpt">{{ post.excerpt | remove: '<p>' | remove: '</p>' }}</span>
        {% if post.image %}<span class="post-img"><a href="{{ post.url | prepend: site.baseurl }}"><img class="headerimg" src="{{ site.url }}/assets{{ post.url }}/{{ post.image }}"></a></span>{% endif %}

      </li>
    {% endfor %}
  </ul>
</div>
