---
layout: default
---

<div class="home">

  <ul class="post-list">
    {% for post in site.posts %}
      {% if post.hidden == null or post.hidden == false %}
      <li>
          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

          <span class="post-excerpt">{{ post.excerpt | remove: '<p>' | remove: '</p>' }}&nbsp;<a href="{{ post.url | prepend: site.baseurl }}"><em>(more...)</em></a></span>
          {% if post.image %}<span class="post-img"><a href="{{ post.url | prepend: site.baseurl }}"><img class="headerimg" src="{{ site.url }}/assets{{ post.url }}/{{ post.image }}"></a></span>{% endif %}

        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
