<header class="site-header">
    <a class="site-title" href="{{ site.baseurl }}/">
        FJORD.STYLE
    </a>
    <div class="links">
        <a {% if page.url == "/" %}class="active"{% endif %} href="/">Home</a> ~
        <a {% if page.url == "/posts" %}class="active"{% endif %} href="/posts">Posts</a> ~
        <!-- <a {% if page.url == "/case-studies" %}class="active"{% endif %} href="/case-studies">Case Studies</a> -->
        <a {% if page.url == "/about" %}class="active"{% endif %} href="/about">About</a>
    </div>
</header>