<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    {% include header.html %}

    {{ content }}

    <div class="page-content">
      <div class="wrapper">
        <!-- <div class="comments" id="reachme">How to reach me:</div> -->
        <a target="_top" href="mailto:pxrich@gmail.com">pxrich@gmail.com</a><br>
        <a href="https://github.com/meetar/">https://github.com/meetar/</a><br>
        <a href="https://mastodon.xyz/@meetar">https://mastodon.xyz/@meetar</a><br>
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
